<ion-content [fullscreen]="true">
  <!-- Nav Bar -->
  <ion-grid class="home-top-nav">
    <ion-row class="animate__animated animate__fadeIn animate__faster">
      <ion-col size="3">
        <ion-img src="../../../assets/products/logo-white.svg"></ion-img>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-img src="../../../assets/products/profile-user.png"></ion-img>
        <div class="txt-1">{{ 'Welcome' | translate }}</div>
        <div class="txt-2">{{ 'Johny Bravo' | translate }}</div>
      </ion-col>
      <ion-col size="3" class="ion-text-right">
        <ion-icon name="notifications" class="notification-icon"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- Categories Grid -->
  <ion-grid class="categories-grid animate__animated animate__fadeIn animate__faster">
    <ion-row>
      <ion-col size="6">
        <div class="category c-1" (click)="vehicle()">
          <ion-img src="../../../assets/products/s1.svg" class="cat-img"></ion-img>
          <h5>{{ 'Accident service' | translate }}</h5>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="category c-2" (click)="insurance()">
          <ion-img src="../../../assets/products/s2.svg" class="cat-img"></ion-img>
          <h5>{{ 'Usual service' | translate }}</h5>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="category c-3">
          <ion-img src="../../../assets/products/s3.svg" class="cat-img"></ion-img>
          <h5>{{ 'Other services' | translate }}</h5>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="category c-4">
          <ion-img src="../../../assets/products/s4.svg" class="cat-img"></ion-img>
          <h5>{{ 'Spare parts' | translate }}</h5>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="category c-5">
          <ion-img src="../../../assets/products/s5.svg" class="cat-img"></ion-img>
          <h5>{{ 'Accident service' | translate }}</h5>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="category c-6">
          <ion-img src="../../../assets/products/s6.svg" class="cat-img"></ion-img>
          <h5>{{ 'Accident service' | translate }}</h5>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<div class="bottom-bar-padding"></div>