ion-list {
    background: transparent;
}
h4 {
    margin: 0;
    color: #5A5A5A;
    font-size: 16px;
    padding: 5px 0 0 0;
}
h6 {
    margin: 0;
    color: #5A5A5A;
    font-size: 12px;
}
.location {
    font-size: 10px;
    color: #AD274E;
    border: 1px solid #AD274E;
    border-radius: 100px;
    padding: 5px 20px;
    position: relative;
    top: 6px;
    ion-icon {
        position: relative;
        top: 2px;
        margin-right: 3px;
    }
}