.back-list {
    background-image: url('../../assets/products/garage.jpg');
    border-radius: 15px;
    margin:10px;
}
.star-img {
    margin-right: 3px;
}
h4 {
    color: #fff;
    font-size: 16px;
    margin: 0 0 3px 0;
    opacity: .7;
}
