.wrk-wrapper {
    .wrk-inner {
        background: #F3F3F3;
        padding: 15% 10% 10%;
        border-radius: 0px 0px 0px 50px;
        h4 {
            color: #921D40;
            font-size: 16px;
            margin: 0 0 10px;
        }
        h5 {
            color: #5A5A5A;
            font-size: 16px;
        }
    }
    h6 {
        color: #606060;
        font-size: 16px;
    }
    .btn-yellow {
        color: #fff;
        font-size: 18px;
        background: #FFC400;
        padding: 10px 40px;
        margin: 0 60px;
        border-radius: 100px;
    }

}
.bck-home-scn {
    color: #606060;
    font-size: 16px;
    span {
        color: #55407A;
        font-weight: bold;
        margin-left: 10px;
    }
}