<ion-content [fullscreen]="true">
  <!-- Nav Bar -->

  <div>
    <ion-img class="card-image round-edge" src="../../../assets/products/login-banner.png"></ion-img>
    <ion-grid>
      <ion-row>
        <ion-col class="animate__animated animate__fadeIn animate__faster">
          <ion-text color="dark">
            <h1 class="head ion-text-center" color="dark">{{ 'LOGIN' | translate }}</h1>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="padding">
      <ion-item class="form-input">
        <ion-input type="text" placeholder="{{ 'Full name' | translate }}"></ion-input>
      </ion-item>

      <ion-item class="form-input">
          <ion-row>
            <ion-col size="3">
              <ion-input type="number" placeholder="+974" class="br-separator"></ion-input>
            </ion-col>
            <ion-col size="7">
              <ion-input type="number" placeholder="{{ 'Phone number' | translate }}"></ion-input>
            </ion-col>
          </ion-row>
          <ion-img class="card-image round-edge img-tck" src="../../../assets/products/tick.svg"></ion-img>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col class="animate__animated animate__fadeIn animate__faster">
            <ion-text color="dark">
              <h2 class="head ion-text-center" color="dark">{{ 'Enter OTP' | translate }}</h2>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input type="number" placeholder="1"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input type="number" placeholder="0"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input type="number" placeholder="5"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input type="number" placeholder="0"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button class="btn-submit" shape="round" routerLink="/home" size="large" class="ion-text-capitalize medium ion-margin-top"
        expand="full">{{ 'VERIFY' | translate }}</ion-button>
    </ion-grid>
  </div>
</ion-content>