.head {
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 800;
}

.top-nav {
  padding-top: 20vh !important;
}

.padding {
  padding: 26px !important;
}

.text-muted {
  color: #6c757d !important;
}

.login-form {
  padding-top: 25px !important;
}

.icon-padding {
  padding-right: 8px;
}

.no-gap {
  padding: 0 !important;
  margin: 0 !important;
}

.medium {
  font-size: medium !important;
}

.bottom-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: transparent;
  z-index: 999;
}
h1 {
  font-size: 20px;
  color: #901c3f;
}
h2 {
  color: #636363;
  font-size: 18px;
}
.form-input {
  border: 1px solid #b2b2b2;
  border-radius: 100px;
  margin-bottom: 15px;
}
.br-separator {
  border-right: 1px solid #b2b2b2;
}
.img-tck {
  position: absolute;
  right: 5px;
  top: 6px;
}
