.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
    white-space: normal;
    color: #5A5A5A;
}
.map-wrp {
    position: relative;
    padding-top: 100px;
    .map-img {
        height: 160px;
        width: 100%;
        border-radius: 15px;
    }
    .map-img-bc {
        position: absolute;
        bottom: -15px;
        width: 100%;
        padding: 15px;
    }
}
.map-inner {
    position: relative;
    color: #fff;
    font-size: 12px;
    ion-grid {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .address-block {
        padding-left: 20px;
    }
    span {
        margin-right: 20px;
        border: 1px solid;
        border-radius: 100px;
        padding: 5px 7px;
    }
}