.padding {
    padding: 0 10px;
}

ion-radio {
    margin: 0 10px 0 0;
}
.img-rounded {
    width: 66px;
    height: 66px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}
h6 {
    margin: 0;
    color: #7a7a7a;
    font-size: 12px;
    padding: 10px 0 0 0;
}
h4 {
    margin: 0;
    color: #7a7a7a;
    font-size: 18px;
}
.select-grid {
    box-shadow: 0px 0px 10px #00000017;
    border-radius: 15px;
    padding: 10px;
    background: #fff;
    margin: 10px;
}
.form-wrp {
    padding: 0 20px;
}
.trash-icon {
    position: relative;
    top: 15px;
    color: #5B5B5B;
    left: 10px;
}