<ion-content>
  <div class="ion-text-center">
    <ion-img src="../../../assets/products/logo-red.svg" class="logo-img"></ion-img>
    <h2>{{ 'Choose' | translate }}</h2>
    <h1>{{ 'your plan' | translate }}</h1>
  </div>
  <div class="plan-scn">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon name="checkmark-outline"></ion-icon><span class="price-spn">199</span>
        </ion-col>
        <ion-col>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="bottom-bar no-gap">
    <ion-row class="no-gap">
      <ion-grid size="12" class="no-gap">
        <ion-button color="primary" routerLink="/documents" size="large" class="ion-text-capitalize" expand="full"
          shape="round">{{ 'CONTINUE' | translate }}</ion-button>
      </ion-grid>
    </ion-row>
  </div>
</ion-content>