<ion-content [fullscreen]="true">
    <!-- Nav Bar -->
    <ion-grid class="home-top-nav">
      <ion-row class="animate__animated animate__fadeIn animate__faster">
        <ion-col size="3">
          <ion-icon routerLink="/home" name="arrow-back-outline" class="white-clr"></ion-icon>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <div class="nav-bc-icon">
            <ion-img src="../../../assets/products/caricon.svg" class="icn-hd-nav"></ion-img>
          </div>
          <div class="txt-1">{{ 'Mini' | translate }}</div>
        </ion-col>
        <ion-col size="3">
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <div class="form-wrp">
        <ion-item class="form-select">
          <ion-label>Select made</ion-label>
          <ion-select>
            <ion-select-option value="f">Mini</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="form-select">
          <ion-label>Select model</ion-label>
          <ion-select>
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="form-select">
          <ion-label>Select variation</ion-label>
          <ion-select>
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="form-select">
          <ion-label>Select year</ion-label>
          <ion-select>
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="form-select">
          <ion-label>Vehicle number</ion-label>
          <ion-select>
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-list>
    <div class="bottom-bar no-gap">
      <ion-row class="no-gap">
        <ion-grid size="12" class="no-gap">
          <ion-button
            color="primary"
            routerLink="/updatevehicle"
            size="large"
            class="ion-text-capitalize"
            expand="full"
            shape="round"
            >{{ 'SAVE' | translate }}</ion-button
          >
        </ion-grid>
      </ion-row>
    </div>
</ion-content>